/* Стили для контейнера товаров */
main {
    display: flex; /* Использовать flexbox для расположения товаров в ряд */
    flex-wrap: wrap; /* Разрешить перенос на новую строку при нехватке места */
}

/* Стили для каждого товара */
div {
    width: calc(33.33% - 20px); /* Ширина каждого товара (33.33% ширины родительского элемента минус внешние отступы) */
    margin: 10px; /* Внешние отступы между товарами */
    background-color: #f9f9f9; /* Цвет фона для товаров */
    border: 1px solid #ddd; /* Граница для товаров */
    padding: 15px; /* Внутренние отступы для товаров */
    box-sizing: border-box; /* Учесть внешние отступы в ширине элемента */
}

/* Стили для заголовка товара */
h2 {
    margin-top: 0; /* Удалить верхний отступ для заголовка */
}

/* Стили для цены товара */
p {
    margin: 0; /* Удалить внешние отступы для цены */
}

/* Стили для ссылки "Подробнее" */
a {
    display: inline-block; /* Сделать ссылку блочным элементом */
    margin-top: 10px; /* Добавить верхний отступ для ссылки */
    text-decoration: none; /* Убрать подчеркивание для ссылки */
    color: #333; /* Цвет текста для ссылки */
    border: 1px solid #666; /* Граница для ссылки */
    padding: 5px 10px; /* Внутренние отступы для ссылки */
}

a:hover {
    background-color: #666; /* Цвет фона при наведении на ссылку */
    color: #fff; /* Цвет текста при наведении на ссылку */
}
